*{ padding: 0px; margin: 0px}

body{ background: ;}

.area-login{ margin-right: auto; margin-left: auto; display: block; width: 300px; height: 300px; background: ; margin-top: 150px;}
.area-login input{ padding: 10px 20px; margin-bottom: 5px; width: 280px; border: 1px solid #b9b9ba; border-radius: 5px; float: left;}
.area-login #btn{ width: 100px; background: #7ebc07; margin-top: 20px; border-radius: 3px; border-bottom: 3px solid #547c07; margin-left: 18px; color: #ffffff; transition:0.5s;}
.area-login #btn:hover{ background: #606060; border-bottom: 3px solid #343434; color: #ffffff; transition:0.5s;}
.area-login  form h1{ text-align: center; font-style: italic; font-size: 22px; margin-right: 45px;}
.area-login  form a{ margin-top: 30px; margin-left: 20px; float: left; color: #747474;}